.skills-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.skills{
    width: 70%;
    max-width: 1440px;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-gap: 10px;
}


.skill-grid img{
    width: 80px;
    height: 80px;
}
