.hero-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 71.83px);
    
    
}
.hero{
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

