
.contact{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
}

.contact-container{
    width: 90%;
    max-width: 1440px;
    display: flex;
   
    
    
    justify-content: center;
}

.form-container{
    width: 70%;
    
    padding: 5rem 0px;
}

.form-section form{
    
    
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: 0 -3px 5px -1px #ebebeb;
    
    margin-top: 3rem;
    padding: 32px;

    background-image: linear-gradient(#fff,#fff),linear-gradient(calc(-1.73504rad),#727272 0,#373737 20%,rgba(121,40,202,0) 80%);
    background-origin: border-box;
    background-clip: padding-box,border-box;
    
}

.row-one{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-input{
    
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 2rem;
    
}

.form-input label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.form-input input, textarea{
    
    
    font-size: 16px;
    border: none;
    border: 1px solid #eaeaea;
}
.form-input input{
    height: 40px;
    border-radius: 5px;
    
}
#name,#email{
    width: 200px;
}

.form-input textarea{
    resize: none;
    padding: 10px 12px;
    min-height: 40px;
    border-radius: 5px;
}

.button-div{
   
    display: flex;
    justify-content: flex-end;
}

.button-div button{
    margin: 0;
    padding: 0 3.5rem;
    height: 2.81rem;
    line-height: 2.8rem;
    border-radius: 7px;
    background-color: #000;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 30%);
    color: #fff;
}

.error{
    font-size: 13px;
    color: #727272;
    padding:0;
    margin: 0;
}