.nav-container{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 90%;
    max-width: 1440px;
    display: flex;
    
    
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    transition: color .2s ease;
}

.nav-link:hover{
    color: black;
    cursor: pointer;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 40%;
}

.menu-items a {
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 0.493);
}
#nav-contact{
    margin: 0;
    padding: 0.5rem;
    height: 2.81rem;
    line-height: 2.8rem;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}