.works-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.works{
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

.work-main{
    width: 80%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    
    
}

.work-img{
    border: none;
    width: 60%;
    height: 100%;
    
}
.work-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.work-desc{
    width: 40%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
    
}

.work-desc h2{
    font-family: Cindie;
    font-size: 48px;
    text-align: start;
    border-bottom: 2px solid black;
    margin-bottom: 0px;
    margin-top: 0;
    text-decoration: none;
    color: black;
    

}

.work-list{
    
    height: 100%;
    margin-top: 0px;
    overflow: auto;
    overflow-x: hidden;
    text-decoration: none;
    scrollbar-width: none;
}

.work-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.work-one{
    
    border-top: 2px solid black;
    padding: 17px 0;
    text-align: start;
    font-family: Cindie;
    text-decoration: none;
   
}

.work-map-inner{
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
}

.work-map-inner-left{
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.work-map-inner-right{
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    
}

